<script src="assets/vendors/js/vendor.bundle.base.js"></script>


<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- Include Date Range Picker JS -->
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>

<!-- End plugin js for this page -->
<script src="assets/vendors/select2/select2.min.js"></script>



<script>
  $(document).ready(function () {
    let filterCount = 1;

    $("#addFilter").click(function () {
      if (filterCount < 20) {
        var filterClone = $("#filterBox .filterSet:first").clone();

        // Update the name attributes for the cloned select and input elements
        filterClone
          .find('select[name="filterTitle"]')
          .attr("name", "filterTitle" + filterCount)
          .removeClass("select2-hidden-accessible")
          .next(".select2-container")
          .remove();

        filterClone
          .find('select[name="filterSearch"]')
          .attr("name", "filterSearch" + filterCount)
          .removeClass("select2-hidden-accessible")
          .next(".select2-container")
          .remove();

        filterClone
          .find('input[name="filterValue"]')
          .attr("name", "filterValue" + filterCount);

        // Append the cloned filter set to the filterBox
        $("#filterBox").append(filterClone);

        // Initialize Select2 after appending to the DOM
        filterClone
          .find('select[name="filterTitle' + filterCount + '"]')
          .select2({
            dropdownParent: $("#filtersOffcanvasEnd .offcanvas-body"),
          });

        filterClone
          .find('select[name="filterSearch' + filterCount + '"]')
          .select2({
            dropdownParent: $("#filtersOffcanvasEnd .offcanvas-body"),
          });

        // Increment the filter count
        filterCount++;
      } else {
        alert("You cannot add more than 20 filters.");
      }
    });
  });
</script>
